/* header */
header {
  background-color: #4e3b31;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .logo__img {
  height: 50px;
  border-radius: 100%;
  padding: 10px;
}
header .logo__nombre {
  color: bisque;
}
header .letras__enlace {
  font-size: 20px;
  margin-right: 35px;
  margin-left: 35px;
  color: bisque;
  text-decoration: none;
}

/* footer */
footer {
  background-color: #372825;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__texto {
  color: bisque;
  width: 100%;
  height: 100%;
  text-align: center;
}
footer .final {
  padding: 20px;
}
footer .final__texto {
  padding: 10px;
}

/* medias */
@media (max-width: 850px) {
  /* index */
  header {
    display: flex;
  }
  header .letras {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  /* index */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .logo {
    padding-bottom: 0;
    margin: auto;
  }
  header .letras {
    margin: 20px 0px 20px 0;
    display: flex;
    flex-direction: column;
  }
  /* ------------ */
  .contenedor__texto {
    text-align: center;
    height: 400px;
    width: 100%;
  }
  .contenedor__texto .mejor__letras {
    font-size: 20px;
  }
  /* ------------ */
  .pero {
    padding-left: 10px;
    padding-right: 10px;
  }
  .caja__texto {
    width: 100%;
    padding: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .footer__texto .final {
    width: 100%;
    padding: 0;
  }
  footer .footer__texto .final__texto {
    width: 90%;
  }
  /* -------------------------------------------------------------------------------------------- */
  /* nosotros */
  /* -------------------------------------------------------------------------------------------- */
  /* contacto */
  .guarda__ic {
    height: 100vh;
    flex-direction: column;
  }
  /* -------------------------------------------------------------------------------------------- */
  /* productos */
  .list__principal {
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    padding: 0;
  }
  .contenedor__img--principal {
    display: flex;
    flex-wrap: wrap;
  }
  .nosotros__grid {
    height: 100%;
    display: grid;
    grid-template-areas: "c1" "c2" "c3" "c4";
    grid-template-columns: 100%;
  }
  .nosotros__grid .cuadradoc1 {
    grid-area: c1;
  }
  .nosotros__grid .cuadradoc2 {
    grid-area: c2;
    height: 300px;
    margin-bottom: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .nosotros__grid .cuadradoc3 {
    grid-area: c3;
    height: 300px;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .nosotros__grid .cuadradoc4 {
    grid-area: c4;
  }
  .nosotros__img {
    height: 275px;
  }
}
/* keyframes */
@keyframes girar {
  0% {
    transform: rotatey(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* otros */
* {
  margin: 0;
  font-family: sans-serif;
}
* a {
  text-decoration: none;
}

/* ---------------------------------- */
main {
  background-color: #fee8b6;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

/* paginas */
/* index */
.contenedor__texto {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor__texto .mejor__con {
  height: 80px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3s;
}
.contenedor__texto .mejor__con:hover {
  background-color: #4e3b31;
  border-radius: 50px;
}
.contenedor__texto .mejor__con .mejor__letras {
  color: #8f3f11;
  font-size: 40px;
  transition: all 4s;
}
.contenedor__texto .mejor__con .mejor__letras:hover {
  color: #fee8b6;
  transform: scale(1.2);
  transform: rotatex(360deg);
}

/* ------------------------ */
.contenedor__img {
  height: 100%;
  padding: 15px 0 15px 0;
  border: 2px solid black;
  background-color: #4e3b31;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contenedor__img .pero {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
}
.contenedor__img .pero .img__inicio {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* ------------------------ */
.contenedor__texto2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contenedor__texto2 .caja__texto {
  width: 300px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor__texto2 .caja__texto .nombre {
  color: #8f3f11;
  margin-bottom: 20px;
}

/* pagina 2 nosotros */
.nosotros__grid {
  display: grid;
  grid-template-areas: "c1 c2" "c3 c4";
}
.nosotros__grid .cuadradoc1 {
  grid-area: c1;
}
.nosotros__grid .cuadradoc2 {
  grid-area: c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid #9d8d86;
}
.nosotros__grid .cuadradoc3 {
  grid-area: c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid #9d8d86;
}
.nosotros__grid .cuadradoc4 {
  grid-area: c4;
}
.nosotros__grid .nosotros__img {
  width: 100%;
  height: 100%;
}

/* si pego este media en el import de medias nose porque dejan de funcionar los estilos */
@media (max-width: 480px) {
  .nosotros__grid {
    height: 100%;
    display: grid;
    grid-template-areas: "c1" "c2" "c3" "c4";
    grid-template-columns: 100%;
  }
  .nosotros__grid .cuadradoc2 {
    height: 300px;
    margin-bottom: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .nosotros__grid .cuadradoc3 {
    height: 300px;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .nosotros__img {
    height: 275px;
  }
}
/* pagina 3 productos */
.producto__ja {
  background-color: #fee8b6;
}
.producto__ja .sections {
  color: #86380f;
  background-color: #fee8b6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.producto__ja .sections .txt__principal {
  flex-wrap: wrap;
  text-align: center;
}
.producto__ja .sections .list__principal {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}
.producto__ja .sections .contenedor__img--principal {
  background-color: #fee8b6;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: solid black 2px;
}
.producto__ja .sections .contenedor__img--principal .principal__img {
  background-color: #4e3b31;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #999;
}

/*pagina 4 contacto*/
.contacto__t {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__t .contacto__arriba {
  color: #8f3f11;
}

.contacto__inicio {
  color: #8f3f11;
  height: 700px;
  align-items: center;
}
.contacto__inicio .contacto-c {
  background-color: #4e3b31;
}
.contacto__inicio .prueba {
  background-color: #4e3b31;
  border: #372825;
}

/* ------------------------ */
.guarda__ic {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guarda__ic .iconos {
  margin: 40px;
  text-align: center;
  color: #8f3f11;
}
.guarda__ic .iconos:hover {
  animation: girar 1s;
  animation-iteration-count: infinite;
}
.guarda__ic .iconos .iconosw {
  height: 50px;
  width: 50px;
}

/* pagina 5 promociones */
.hola__titulo {
  background-color: #fee8b6;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hola__titulo .hola__letras {
  color: #86380f;
  font-size: 60px;
  text-align: center;
}

.chau__letras {
  color: #86380f;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.arriba__list {
  color: whitesmoke;
  background-color: #4e3b31;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pack {
  height: 150px;
  background-color: #fee8b6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pack .list_packs {
  list-style-type: none;
  padding-left: 40px;
}

/*# sourceMappingURL=estilos.css.map */
