/* medias */

@media (max-width:850px){

    /* index */
    header{
        display: flex;

        .letras{
            margin: 20px 0 20px 0;
            display: flex;
            flex-direction: column;
        }
    }
}


@media (max-width:480px){

    /* index */
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo{
            padding-bottom: 0;
            margin:auto;
        }
        .letras{
            margin: 20px 0px 20px 0;
            display: flex;
            flex-direction: column;
        }
    }
/* ------------ */

    .contenedor__texto{
        text-align: center;
        height: 400px;
        width: 100%;
    
        .mejor__letras{
            font-size: 20px;
        }
    }

/* ------------ */

    .pero{
        padding-left:10px ;
        padding-right:10px ;
    }

    .caja__texto{
        width: 100%;
        padding: 10px;
    }
    footer{
        display: flex;
        flex-direction: column;
        .footer__texto{

            .final{
                width: 100%;
            }
            .final__texto{
                width: 90%;
            }
        }
    }

/* -------------------------------------------------------------------------------------------- */
/* nosotros */
/* -------------------------------------------------------------------------------------------- */

/* contacto */
    .guarda__ic{
        height: 100vh;
        flex-direction: column;
    }

/* -------------------------------------------------------------------------------------------- */

/* productos */
    .list__principal{
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    .contenedor__img--principal{
        display: flex;
        flex-wrap: wrap;
    }
}