/* medias */

@media (max-width:850px){

    /* index */
    header{
        display: flex;

        .letras{
            margin: 20px 0 20px 0;
            display: flex;
            flex-direction: column;
        }
    }
}


@media (max-width:480px){

    /* index */
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo{
            padding-bottom: 0;
            margin:auto;
        }
        .letras{
            margin: 20px 0px 20px 0;
            display: flex;
            flex-direction: column;
        }
    }
/* ------------ */

    .contenedor__texto{
        text-align: center;
        height: 400px;
        width: 100%;
    
        .mejor__letras{
            font-size: 20px;
        }
    }

/* ------------ */

    .pero{
        padding-left:10px ;
        padding-right:10px ;
    }

    .caja__texto{
        width: 100%;
        padding: 10px;
    }
    footer{
        display: flex;
        flex-direction: column;
        .footer__texto{

            .final{
                width: 100%;
                padding: 0;
            }
            .final__texto{
                width: 90%;
            }
        }
    }

/* -------------------------------------------------------------------------------------------- */
/* nosotros */

/* -------------------------------------------------------------------------------------------- */

/* contacto */
    .guarda__ic{
        height: 100vh;
        flex-direction: column;
    }

/* -------------------------------------------------------------------------------------------- */

/* productos */
    .list__principal{
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    .contenedor__img--principal{
        display: flex;
        flex-wrap: wrap;
    }
    .nosotros__grid{
        height: 100%;
        display: grid;
        grid-template-areas: 
        "c1"
        "c2"
        "c3"
        "c4"
        ;
        grid-template-columns: 100%;
        .cuadradoc1{
            grid-area:c1;
        }
        .cuadradoc2{
            grid-area:c2;
            height: 300px;
            margin-bottom: 5px;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        .cuadradoc3{
            grid-area:c3;
            height: 300px;
            border-bottom: none;
            border-left: none;
            border-right: none;
        }
        .cuadradoc4{
            grid-area:c4;
        }
    }
    
    .nosotros__img{
        height: 275px;
    }
}