/* pagina 2 nosotros */


.nosotros__grid{
    display: grid;
    grid-template-areas: 
    "c1 c2"
    "c3 c4"
    ;

    .cuadradoc1{
        grid-area:c1;
    }

    .cuadradoc2{
        grid-area:c2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: solid #9d8d86;
    }

    .cuadradoc3{
        grid-area:c3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: solid #9d8d86;
    }

    .cuadradoc4{
        grid-area:c4;
    }

    .nosotros__img{
        width: 100%;
        height: 100%;
    }
}



/* si pego este media en el import de medias nose porque dejan de funcionar los estilos */
@media (max-width:1100px){
    /* nosotros */
    .nosotros__grid{
        height: 100%;
        display: grid;
        grid-template-areas: 
        "c1"
        "c2"
        "c3"
        "c4"
        ;
        grid-template-columns: 100%;
        .cuadradoc1{
            grid-area:c1;
        }
        .cuadradoc2{
            height: 300px;
            margin-bottom: 5px;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        .cuadradoc3{
            height: 300px;
            border-bottom: none;
            border-left: none;
            border-right: none;
        }
        .cuadradoc4{
            grid-area:c4;
        }
    }

    .nosotros__img{
        height: 275px;
    }
}